/BattleCreekDec19_2019.txt
/BemidjiSep18_2020.txt
/CharlestonFeb28_2020.txt
/CharlotteMar2_2020.txt
/CincinnatiAug1_2019.txt
/ColoradorSpringsFeb20_2020.txt
/DallasOct17_2019.txt
/DesMoinesJan30_2020.txt
/FayettevilleSep19_2020.txt
/FayettevilleSep9_2019.txt
/FreelandSep10_2020.txt
/GreenvilleJul17_2019.txt
/HendersonSep13_2020.txt
/HersheyDec10_2019.txt
/LasVegasFeb21_2020.txt
/LatrobeSep3_2020.txt
/LexingtonNov4_2019.txt
/MilwaukeeJan14_2020.txt
/MindenSep12_2020.txt
/MinneapolisOct10_2019.txt
/MosineeSep17_2020.txt
/NewHampshireAug15_2019.txt
/NewHampshireAug28_2020.txt
/NewHampshireFeb10_2020.txt
/NewMexicoSep16_2019.txt
/OhioSep21_2020.txt
/PhoenixFeb19_2020.txt
/PittsburghSep22_2020.txt
/TexasSep23_2019.txt
/ToledoJan9_2020.txt
/TulsaJun20_2020.txt
/TupeloNov1_2019.txt
/WildwoodJan28_2020.txt
/Winston-SalemSep8_2020.txt
/YumaAug18_2020.txt
/weight.hdf5
/chars.pickle
